@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SecretWord</title>

    <link href="~/lib/materialize/dist/css/materialize.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="icon" href="~/images/spy.jpg">

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav>
        <div class="nav-wrapper indigo darken-2">
            <ul id="slide-out" class="side-nav">
                <li><a href="/Home/Index"><i class="material-icons">home</i>Home</a></li>
                <li><a href="/Home/Words"><i class="material-icons">dns</i>Words</a></li>
                <div class="logoutbtn">
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                    <button type="submit" class="waves-effect waves-light btn grey lighten-4 logoutbtn">Log out</button>
                </form>
                </div>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>

            <a href="/Home/Index" class="brand-logo center">Secret Word</a>
            <p class="right userName">@User.Identity.Name</p>
        </div>
    </nav>
    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main> 
        <footer>
            <p class="center">&copy; @DateTime.Now.Year - SecretWord</p>
        </footer>
    


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/materialize/dist/js/materialize.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
