@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SecretWord</title>

    <link href="~/lib/materialize/dist/css/materialize.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo left">Secret Word</a>
            <p class="right">@User.Identity.Name</p>
        </div>
    </nav>
    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main> 
        <footer>
            <p>&copy; 2017 - SecretWord</p>
        </footer>
    


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/materialize/dist/js/materialize.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
